<!DOCTYPE html>
<html>
<head>
    <title>All Item Tax Recordss</title>
</head>
<body>
    <h1>All Item Tax Records</h1>
    <table>
        <thead>
            <tr>
                <th>Type ID</th>
                <th>Type Name</th>
                <th>Category</th>
                
                <th>Category ID</th>
                <th>Group</th>
                <th>Group ID</th>
                <th>Jita Buy Percentage</th>
                <th>Flat Cost</th>
                <th>Hauling Fee</th>
            </tr>
        </thead>
        <tbody>
            {% for item in all_items %}
                <tr>
                    <td>{{ item.type_id }}</td>
                    <td>{{ item.type_name }}</td>
                    <td>{{ item.category_name }}</td>
                    <td>{{ item.category_id }}</td>
                    
                    <td>{{ item.group }}</td>
                    <td>{{ item.group_id }}</td>
                    
                    <td>{{ item.jita_buy_percentage }}</td>
                    <td>{{ item.flat_cost }}</td>
                    <td>{{ item.hauling_fee }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
