{% extends 'base.html' %}

{% block content %}
 
 
      <header>
          <h1>Blueprint App Description</h1>
      </header>
       <p>user will login to single sign on here</p>
      <main>
          <h2>App Name: Blueprint App</h2>
          <p>
              The Blueprint App is a component of the larger "Spoopy Buyback" project, designed to manage and track blueprints for items in the game universe. Blueprints represent designs for creating various items, and this app provides a user-friendly interface to view, manage, and interact with these blueprints.
          </p>
          
          <h2>Features:</h2>
          <ul>
              <li>Blueprint Library: View a list of available blueprints.</li>
              <li>Blueprint Detail: View detailed information about each blueprint.</li>
              <li>Navigation: Easily switch between home page and blueprint library.</li>
              <li>Base Template: Consistent layout across app pages using base template.</li>
              <li>Dynamic Content: Generate content based on available blueprints.</li>
              <li>User Experience: Responsive design for different screen sizes.</li>
          </ul>
          
          <h2>Usage:</h2>
          <p>
              Players and users of the "Spoopy Buyback" system can access the Blueprint App to explore the blueprints available in the game. This app simplifies the process of browsing and understanding blueprint details, helping players make informed decisions about their in-game actions and strategies.
          </p>
          
          <p>
              The Blueprint App is an integral part of the overall "Spoopy Newbies Corp", contributing to the corprations's goal of enhancing the player experience and providing valuable tools for interacting with the game universe.
          </p>
      </main>
  


  
{% endblock %}
